<h4 class="mx-4 pt-4">Editar Cria</h4>
<div class="container">
    <form ng-submit="registrar()">
        <label class="form-label">Nombre de la Cria</label>
        <input [(ngModel)]="cria.Nombre" type="text" class="form-control" name="nombre">
        <div class="container p-0">
        <label class="form-label mt-2" for="Proveedores">Nombre del proveedor:</label>
        <select [(ngModel)]="cria.IdProveedor" name="Proveedores" id="Proveedores" class="mx-2">
            <option *ngFor="let proveedor of proveedores" value="{{proveedor.ID}}">{{proveedor.Nombre}}</option>
        </select>
    </div>
        <label class="form-label">Peso</label>
        <input [(ngModel)]="cria.Peso" type="number" class="form-control" name="Peso">
        <label class="form-label">Costo</label>
        <input [(ngModel)]="cria.Costo" type="number" class="form-control" name="Costo">
        <label class="form-label">Descripcion</label>
        <input [(ngModel)]="cria.Descripcion" type="text" class="form-control" name="Descripcion">
        <label class="form-label">ColorMusculo</label>
        <input [(ngModel)]="cria.ColorMusculo" type="text" class="form-control" name="ColorMusculo">
        <label class="form-label">CalidadMarmoleo</label>
        <input [(ngModel)]="cria.CalidadMarmoleo" type="text" class="form-control" name="CalidadMarmoleo">
        <button type="button" (click)="editar()" class="btn btn-primary mt-3">Editar</button>
    </form>
</div>